#carousel .carousel-item.boat {
    background-image: url("https://images.pexels.com/photos/1402787/pexels-photo-1402787.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#carousel .carousel-item.sea {
    background-image: url("https://images.pexels.com/photos/120049/pexels-photo-120049.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#carousel .carousel-item.river {
    background-image: url("https://images.pexels.com/photos/6640217/pexels-photo-6640217.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#carousel .carousel-item {
    height: 70vh;
    width: 100%;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
}

#carousel .carousel-inner .carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

#carousel .carousel-item .caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    color: orange;
    animation-duration: 1s;
    animation-delay: 0.5s;
}

#carousel .caption h2 {
    animation-duration: 1s;
    animation-delay: 0.5s;
}

#carousel .caption p {
    animation-duration: 1s;
    animation-delay: 0.5s;
}

#carousel .caption a {
    animation-duration: 1s;
    animation-delay: 2s;
}

/* Button */
.delicious-btn {
    display: inline-block;
    min-width: 160px;
    height: 60px;
    color: #ffffff;
    border: none;
    border-left: 3px solid #1c8314;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 58px;
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
    background-color: #40ba37;
}

    .delicious-btn.active, .delicious-btn:hover, .delicious-btn:focus {
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        background-color: #1c8314;
        border-color: #40ba37;
    }
