
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="~/Content/about.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="image-aboutus-banner" style="margin-top:70px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lg-text">About Us</h1>
                <p class="image-aboutus-para">Atithi Devo Bhava ! " **  Zoomcab Services provides a wide variety of cab services. We have premium and luxury vehicles to support your tours and transfers. .</p>
            </div>
        </div>
    </div>
</div>
<div class="bread-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-8">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">About Us</li>
                </ol>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-4">
            </div>
        </div>
    </div>
</div>
<div class="aboutus-secktion paddingTB60">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="strong" style="color:orangered">Who we are and</h1><h1 style="color: rgb(49, 182, 137)"> what we do </h1>
                <p class="lead" style="color:">This is the world's leading portal for<br>easy and quick taxi service </p>
            </div>
            <div class="col-md-6">
                <p style="color:navy">Zoomcab Service is one of the best tour providers in Kerala doing cab/taxi service.</p>
                <p style="color:navy">We provide excellent service with affordable price. We offer good - comfortable vehicles and drivers with well knowledge of languages and destinations.</p>
            </div>
        </div>
    </div>
</div>
<div class="container team-sektion paddingTB60">
    <div class="row">
        <div class="site-heading text-center">
            <h3>Our Team</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt <br> ut labore et dolore magna aliqua. Ut enim ad minim </p>
            <div class="border"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 team-box">
            <div class="team-img thumbnail">
                <img src="https://images.pexels.com/photos/9950569/pexels-photo-9950569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" height="80">
                <div class="team-content">
                    <h3>Philip Freeman</h3>
                    <div class="border-team"></div>
                    <p>Human Resource</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                        <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                        <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                        <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 team-box">
            <div class="team-img thumbnail">
                <img src="https://images.pexels.com/photos/1043473/pexels-photo-1043473.jpeg?auto=compress&cs=tinysrgb&w=600">
                <div class="team-content">
                    <h3>David Smith</h3>
                    <div class="border-team"></div>
                    <p>Service Head</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                        <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                        <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                        <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 team-box">
            <div class="team-img thumbnail">
                <img src="https://images.pexels.com/photos/61120/pexels-photo-61120.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" height="80">
                <div class="team-content">
                    <h3>Rose D'costa</h3>
                    <div class="border-team"></div>
                    <p> Managing Executive</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                        <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                        <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                        <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br />
<br />
<br />

<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">About Css3transition</span>
                        <h2>We are Creative Enthusiast working since 2015</h2>
                    </div>
                    <div class="text">I am Rahul Yaduvanshi works at Css3 Transition since last 3 years. We are here to provide touch notch solution for your website or web application that helps you to make your website look attractive & efficient in handling by creating usefull plugins thats you need.</div>
                    <div class="text">
                        We are here to serve you next level tutorial that currently in trend to match you with your expertise. Css3 transition is a learning website. where you can find many good quality content related to web development and tutorials about plugins. here we are using html, html5, css, css3, jquery & javascript along with inspirational UI design layout by professionals by using Photoshop and adobe allustrator.
                    </div>
                    <div class="btn-box">
                        <a href="#" class="theme-btn btn-style-one">Contact Us</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="author-desc">
                        <h2>Rahul Kumar Yadav</h2>
                        <span>Founder</span>
                    </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Rahul Kumar Yadav" src="https://images.pexels.com/photos/376361/pexels-photo-376361.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></a></figure>

                </div>
            </div>
        </div>
        <br /><br /><br />
        <div class="sec-title">
            <span class="title">Our Future Goal</span>
            <h2 style="color:navy">We want to lead in innovation & Service</h2>
        </div>
        <div class="text">
            We works on UI/UX and functionality as well so that a plugins comes with proper stucture & stunning looks which suits to your web app & website.
        </div>
        <div class="text">
            We take a small toolkit here and ride it well so that it is fit for your use. One who performs well and looks even better.
        </div>
        <div class="text">
            Here we are trying to give you all kinds of technical content, whether it is related to designing or functionality. We are creating content on a lot of languages and will continue to make it free of cost even if you use it without any problem. Which is a very important thing.
        </div>
        <div class="text">
            Here you can also share the content you create, if our technical team likes it, then we will also share it on our blog.
        </div>
        <div class="text">

            In the end, I would say keep visiting our website and enjoy the quality content.
        </div>
    </div>
</section>

<br />
<br />
<br />
<div class="we-are-block">

    <div id="about-us-section">

        <div class="about-us-image">

            <img src="https://images.pexels.com/photos/892522/pexels-photo-892522.jpeg?auto=compress&cs=tinysrgb&w=600" width="808" height="458" alt="Lobby Image">

        </div>

        <div class="about-us-info">

            <h2>We are Digital Upgrade</h2>

            <p>Digital Upgrade, located in Evansville, IN, makes it easy for businesses to create and manage their digital presence and logistics, meaning we can make your business more efficient and profitable! We believe in our community and want to help our local business economy grow and expand. We believe in our clients, and want to assist in their digital success. The D-UP team grades ourselves on outcomes, not on sales.</p>

            <a href="#" title="About Us Button">ABOUT US</a>

        </div>

    </div>

    <div id="history-section">

        <div class="history-image">

            <img src="https://images.pexels.com/photos/1035108/pexels-photo-1035108.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width="951" height="471" alt="Building Pic">

        </div>

        <div class="history-info">

            <h2>Preserving Local History</h2>

            <p>In 2018, technology companies, Desktop Doctors & Digital Upgrade found a new place to call home, at 816 N. 9th Ave. Since the takeover of the 118-year-old building (formally Stippler Tool & Supply and Crown Chair Company), there have been many renovations completed to preserve this local piece of Evansville, IN history.</p>

            <a href="#" title="History Button">HISTORY</a>

        </div>

    </div>

</div>
<br />
<br />
