
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Gallery -->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="https://images.pexels.com/photos/1117647/pexels-photo-1117647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Boat on Calm Water" />

        <img src="https://images.pexels.com/photos/3879065/pexels-photo-3879065.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Wintry Mountain Landscape" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="https://images.pexels.com/photos/1134857/pexels-photo-1134857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Mountains in the Clouds" />

        <img src="https://images.pexels.com/photos/6182096/pexels-photo-6182096.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Boat on Calm Water" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="https://images.pexels.com/photos/3850110/pexels-photo-3850110.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Waves at Sea" />

        <img src="https://images.pexels.com/photos/105296/pexels-photo-105296.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Yosemite National Park" />
    </div>
</div>
<!-- Gallery -->
